<div>Add Rooms:</div>
<form>
  <div class="container">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Room Numbe:r</label>
      <input type="number" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Room Type:</label>
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Price:</label>
      <input type="price" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Ameneties:</label>
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Checkout:</label>
      <input type="date" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Checkin:</label>
      <input type="date" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Image:</label>
      <input type="text" class="form-control" />
    </div>
    <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
