<div class="alert alert-success">{{ successMessage }}</div>

<div>Add Rooms:</div>
<form (ngSubmit)="addRoom()">
  <div class="container">
    <div class="mb-3">
      <label for="roomnum" class="form-label">Room Number</label>
      <input
        [(ngModel)]="room.roomNumber"
        type="number"
        name="roomNumber"
        id="roomnum"
        class="form-control"
      />
      <h1>{{ room.roomNumber }}</h1>
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Room Type:</label>
      <input
        [(ngModel)]="room.roomType"
        type="text"
        name="roomType"
        id="type"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="Price" class="form-label">Price:</label>
      <input
        [(ngModel)]="room.price"
        type="number"
        name="roomPrice"
        id="Price"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="ameneties" class="form-label">Ameneties:</label>
      <input
        [(ngModel)]="room.ameneties"
        type="text"
        name="roomAmeneties"
        id="Ameneties"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="checkin" class="form-label">checkin:</label>
      <input
        [(ngModel)]="room.checkinTime"
        type="datetime"
        name="chckin"
        id="checkin"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="checkout" class="form-label">checkout:</label>
      <input
        [(ngModel)]="room.checkoutTime"
        type="datetime"
        name="checkout"
        id="checkout"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="img" class="form-label">Image:</label>
      <input
        [(ngModel)]="room.image"
        type="text"
        name="image"
        id="img"
        class="form-control"
      />
    </div>
    <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
