<form action="">
  <div class="container">
    <div class="mb-3 row mt-5">
      <label for="email" class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-10">
        <input
          appCustomHover
          appCustomEmailValidator
          [(ngModel)]="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="Your email"
          name="email"
          #emailControl="ngModel"
        />
      </div>
      <div>
        {{ emailControl.errors | json }}
      </div>
    </div>
    <div class="mb-3 row">
      <label for="password" class="col-sm-2 col-form-label">Password:</label>
      <div class="col-sm-10">
        <input
          appCustomHover
          appCustomEmailValidator
          [(ngModel)]="password"
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Your password"
          #passwordControl="ngModel"
        />
        <div>
          {{ passwordControl.errors | json }}
        </div>
        <button type="submit" class="btn btn-primary mt-3" (click)="login()">
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
